<header>
  <div class="left">
    <p><span style="font-size: 32px;font-family: Georgia, serif; color: rgp(255,255,255);">my</span><span
        style="font-family: Impact, Charcoal, sans-serif; font-size: 36px; color: rgb(235, 157, 48);">Job</span><span
        style="color: rgb(64, 115, 196);font-size: 30px;">Pod</span></p>
  </div>
  <div class="right">
    <!-- <a routerLink="" routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}"><i
        class="material-icons">fingerprint</i>
      <p>LOGIN</p>
    </a> -->
    <div class="dropdown">

      <a routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}" data-toggle="dropdown"><i
          class="material-icons">fingerprint</i>
        <p>LOGIN</p>
      </a>

      <ul class="dropdown-menu">

        <li><a href="#" routerLink="">User</a></li>

        <li><a href="#" routerLink="/loginCompany">Company</a></li>

      </ul>

    </div>
    <!-- <a routerLink="/register" routerLinkActive="router-active"><i class="material-icons">person_add</i>
      <p>REGISTER</p>
    </a> -->
    <div class="dropdown">

      <a routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}" data-toggle="dropdown"><i
          class="material-icons">person_add</i>
        <!-- <a routerLink="/register" routerLinkActive="router-active"><i class="material-icons">person_add</i> -->
        <p>REGISTER</p>
      </a>

      <ul class="dropdown-menu">

        <li><a href="#" routerLink="/register">User</a></li>

        <li><a href="#" routerLink="/registerCompany">Company</a></li>

      </ul>

    </div>
  </div>
</header>